---
layout: page_body
title: 首页
icon: icon-guanfangbanben
priority: 1
---
<ul class='list_posts'>
    {% for post in site.posts limit:10 %}
        <li class='card'>
            <div class='card_header'>
                <a href='{{ post.url }}' class='title'>{{ post.title }}</a>
                <div class='sub_title'>
                    <span>日期: {{ post.date | date: '%Y-%m-%d' }}</span>
                    <span>更新: {{ post.date | date: '%Y-%m-%d' }}</span>
                    <span>分类: {{ post.categories }}</span>
                </div>
            </div>
            <div class='card_body'>{{ post.abstract }}</div>
            <div class='card_footer'>
                <a href='{{ post.url }}' class='more'>查看全文</a>
                <ul class='tags'>
                    {% for tag in post.tags %}
                        <li>#{{ tag }}</li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>