---
layout: index
title: 首页
icon: icon-homepage
priority: 1
---
<ul class='list_posts'>
    {% for post in paginator.posts %}
        <li class='card'>
            {% unless forloop.first == true %}
                <hr style='margin: 1% 0 2%'>
            {% endunless %}
            <div class='card_header'>
                <a href='{{ post.url }}' class='title'>{{ post.title | markdownify }}</a>
                <div class='sub_title'>
                    <span>日期: {{ post.date | date: '%Y-%m-%d' }}</span>
                    <span>更新: {{ post.date | date: '%Y-%m-%d' }}</span>
                    <span>分类: {{ post.categories }}</span>
                </div>
            </div>
            <div class='card_body'>{{ post.abstract }}</div>
            <div class='card_footer'>
                <a href='{{ post.url }}' class='more'>查看全文</a>
                <div class='card_right_footer'>
                    {% include  footer_tags.html %}
                </div>
            </div>
        </li>
    {% endfor %}
</ul>