#about_me {
  .basic_info {
    display: flex;
    align-items: center;
    padding: 2% 2% 2% 10%;

    .image {
      width: 10vw;
      display: inline-block;
      img {
        display: block;
        width: 100%;
      }
    }
    .detail_info {
      display: inline-block;
      margin-left: 5%;
      ul {
        list-style: none;
      }
    }

  }
}