---
---
* {
    font-family: "Microsoft YaHei UI";
}

body, header, footer, ul, li, p, h1, h2, h3, div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}
sup {
    font-size: 50%;
}

.nav ul li {
    display: inline-block;
    margin: 0 1%;
    font-size: 120%;
}

.active {
    color: red !important;
    font-weight: bolder;
}

#background {
    background: url("../images/background.jpg") no-repeat;
    background-size: 100vw 100vh;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: -100;
}

#page {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin: 2% auto;
    width: 80%;
}

@import 'header', 'page_body', 'footer', 'post', 'about';