#site_header {
    display: block;
    padding: 1% 1% 0;
    margin: auto auto 2%;

    .brand {
        font-size: 300%;
        font-weight: bolder;
        margin-left: 5%;
        margin-top: 1%;
        margin-bottom: 1%;
    }

    .nav {
        background: black;
        border-radius: 5px;
        display: block;
        margin: 2% 0 0;
        padding: 1% 2%;

        a {
            color: aliceblue;
        }
    }
}
