#body {
    padding: 0 5%;
    margin: 2% 0;
}

.list_posts {
    list-style: none;

    .card {
        border-bottom: solid gray 1px;
        margin: 0 auto 2%;

        .title {
            font-size: 200%;
            padding: 1%;
            display: block;
        }

        .sub_title {
            color: gray;

            span {
                padding: 0 2%;
            }
        }

        .card_body {
            padding: 1%;
        }

        .card_footer {
            padding: 2% 0;

            .more {
                color: black;
            }

            .tags {
                color: gray;
                float: right;
                list-style: none;

                li {
                    display: inline-block;
                }
            }
        }
    }
}