<footer class='site_footer'>
	<div class='wrapper'>
		<p class='description'>
			{% if site.footer_description %}{{ site.footer_description }}{% endif %}
		</p>
		<p class='contact'>
			<span>Contact me at:</span>
			{% if site.github_username %}
				<a href='https://github.com/{{ site.github_username }}' title='GitHub'><i class='fa fa-github'
				                                                                          aria-hidden='true'></i></a>
			{% endif %}
			{% if site.email %}
				<a href='mailto:{{ site.email }}' title='Email'><i class='fa fa-envelope-o'
				                                                   aria-hidden='true'></i></a>
			{% endif %}
		</p>
		<p>
			本站总访问量<span id=''></span>次，本站访客数<span id=''></span>人次，本文总阅读量<span id=''></span>次
		</p>
	</div>
</footer>