<header id='site_header'>
    <span class='brand'>{{ site.title }}</span>
    <nav class='nav'>
        <ul>
            {% assign my_pages=site.pages | where: 'type','page' | sort: 'priority' %}
            {% for my_page in my_pages %}
                <li>
                    <a href='{{ my_page.url }}' {% if page.url == my_page.url %}class='active'{% endif %}>
                        <span class='iconfont {{ my_page.icon }}'></span>{{ my_page.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>