#about_me {
    .basic_info {
        display: flex;
        align-items: center;
        padding: 2% 2% 2% 10%;

        .image {
            width: 10vw;
            display: inline-block;

            img {
                display: block;
                width: 100%;
            }
        }

        .detail_info {
            margin-left: 10%;
            width: 100%;

            .name {
                display: block;
                font-size: 150%;
                font-weight: bold;
                padding: 1% 1% 2%;
            }

            .introduction {
                font-size: 120%;
                display: block;
                padding: 0 1%;
                margin: 2% 0;
            }
        }
    }

    .sub_info {
        list-style: none;
        font-size: 80%;

        li {
            display: inline-block;
            color: gray;
            padding: 0 2%;
        }
    }

    .content {
        .title {
            .iconfont {
                display: inline-block;
                font-size: 120%;
            }

            strong {
                width: 50%;
                padding: 1%;
                display: inline-block;
                font-size: 120%;
            }
        }

        .table, .list {
            padding: 0 2%;
            border-left: solid black 1px;
            margin: 0 0 0 1%;
            width: 100%;
        }

        .table {
            td {
                padding: 0.5% 0;
            }
        }

        .list {
            list-style: none;

            li {
                padding: 0.5% 0;
            }
        }
    }
}