@import 'style';

#list_archives {
    ul {
        .year {
            @include title_style(140%)
        }

        hr {
            margin: 2%;
        }

        li {
            margin: 1% 0 1% 5%;

            a {
                display: block;

                time {
                    color: $sub_title_color;
                }

                span {
                    margin-left: 1%;
                }
            }
        }
    }
}