@import 'style';

#card_categories {
    display: block;
    margin: auto;
    text-align: center;

    .card {
        @include page_bubble($card_bubble_color, 42%, inline-block, 1.8%, 1%);
        vertical-align: top;
        text-align: left;

        .title {
            @include title_style(120%, 1%)
        }

        .content {
            ul {
                list-style: disc;
                margin-left: 10%;

                li {
                    a {
                        display: block;

                        time {
                            color: $sub_title_color;
                        }

                        span {
                            margin-left: 1%;
                        }
                    }
                }
            }
        }
    }
}