---
---

@import 'style';

body, header, footer, ul, ol, li, p, h1, h2, h3, h4, div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

sup {
    font-size: 50%;
}

.active {
    color: red !important;
    font-weight: bolder;
}

.overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#background {
    background: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -100;
    height: 100vh;
    width: 100vw;

    img {
        width: 100%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

#page {
    text-align: center;
}

#body {
    @include page_bubble($page_bubble_color, 60%, inline-block, 1%, $side_out_margin_value);
    margin-left: -10%;
}

#site_body {
    padding: 0 2%;
    margin: $site_inside_margin_value 0;
}

@import 'header', 'footer', 'right_sides', 'index', 'archives', 'categories', 'about', 'post';