@import 'style';
#site_footer {
    margin: 2% 0 0;
    text-align: center;

    hr {
        margin: 0 0 $site_inside_margin_value;
    }
    .contact {
        a {
            margin: 0 0.2%;
        }
    }
}