@import 'style';

#site_header {
    display: block;
    margin: auto auto $site_inside_margin_value;

    .brand {
        font-size: 300%;
        font-weight: bolder;
        margin-left: 5%;
        text-align: left;
    }

    .nav {
        background: black;
        border-radius: 8px;
        display: block;
        margin: $site_inside_margin_value 0 0;
        padding: 1% 2%;

        ul li {
            display: inline-block;
            margin: 0 1%;
            font-size: 120%;

            a {
                color: aliceblue;
            }
        }
    }
}
