.list_posts {
    list-style: none;

    .card {
        border-bottom: solid gray 1px;
        margin: 0 auto 2%;

        .title {
            font-size: 150%;
            padding: 1%;
            display: block;
            font-weight: bolder;
            text-shadow:2px 2px 3px #aaa;
        }

        .sub_title {
            color: gray;

            span {
                padding: 0 2%;
            }
        }

        .card_body {
            padding: 1%;
        }

        .card_footer {
            padding: 2% 0;

            .more {
                color: black;
            }
        }
    }
}