@import 'style';

.list_posts {
    list-style: none;

    .card {
        .title {
            @include title_style(140%)
        }

        .sub_title {
            @include sub_title
        }

        .card_body {
            margin: $card_inside_value;
        }

        .card_footer {
            padding: $card_inside_value;

            .more {
                @include sub_title
            }

            .card_right_footer {
                @include right_footer
            }
        }
    }
}