@import "style";

#post {
    .title {
        font-size: 200%;
        padding: 1%;
        display: block;
        font-weight: bolder;
    }

    .sub_title {
        color: gray;

        span {
            padding: 0 2%;
        }
    }

    .contest {
        padding: 2%;
        @include for_ul(0, 6);

        ul {
            list-style: none;
        }

        ol {
            list-style: none;
            padding: 0 2%;

            ul {
                list-style: disc;
            }

            ol {
                list-style: decimal;
            }
        }

        @for $i from 1 through 5 {
            h#{$i} {
                font-size: (100%+(6-$i)*10%);
            }
        }

        table {
            border-collapse: separate;
            border-spacing: 1vw 0.5vh;
            border-top: solid 1px black;

            th {
                border-bottom: solid 1px black;
            }
        }

        .image {
            text-align: center;
            width: 100%;
            display: block;

            .src {
                width: 80%;
            }

            .image_alt {
                font-size: 80%;
            }
        }
    }

    .post_recent {
        .post_li {
            font-size: 100%;

            .post_title {
                margin-left: 1%;
            }
        }
    }
}