@import 'style';

#site_sides {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: 16%;
    margin-top: $side_out_margin_value;

    .right_side {
        @include page_bubble($page_bubble_color, 100%, block, 8%, 4% 0);

        .side_title {
            @include title_style(120%)
        }

        .side_posts {
            @include side_content('ul', disc, 0 0 0 $side_inside_margin_left);
        }

        .side_archives {
            @include side_content('ul', square, 0 0 0 $side_inside_margin_left);
        }

        .side_categories {
            @include side_content('ul',decimal, 0 0 0 $side_inside_margin_left);
        }

        .side_tags {
            @include side_content('tags', none, 2%);
        }

        .badge {
            float: right;
            clear: both;
            background-color: gray;
            border-radius: 50%;
            padding: 1% 4%;
            font-size: 80%;
            font-weight: bolder;
            color: white;
        }
    }
}