#site_body {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  margin: auto;
  width: 80%;

  .list_posts {
    list-style: none;
    padding: 0 5%;

    .post_card {
      border-bottom: solid gray 1px;
      margin: 5% auto;

      .title {
        color: #000;
        font-size: 300%;
        margin: 1%;
      }

      .sub_title {
        color: gray;

        span {
          padding: 0 2%;
        }
      }

      .abstract {
        padding: 2%;
      }

      .card_footer {
        padding: 2% 0;

        ul {
          color: gray;
          float: right;
          list-style: none;
        }

        li {
          display: inline-block;
        }

        a {
          color: black;
        }
      }
    }
  }
}