---
layout: archives
title: '归档'
icon: icon-activity
priority: 3
type: page
permalink: /archives
---
<div id='list_archives'>
    <ul>
        {% for post in site.posts %}
            {% if post.next == nil %}{% comment %} post是倒序排列的，从最新的到最旧的 {% endcomment %}
                <span class='year'>{{ post.date | date: '%Y' }}</span>
            {% else %}
                {% capture current_year %}{{ post.date | date: '%Y' }}{% endcapture %}
                {% capture next_year %}{{ post.next.date | date: '%Y' }}{% endcapture %}
                {% if current_year != next_year %}
                    <hr>
                    <span class='year'>{{ current_year }}</span>
                {% endif %}
            {% endif %}
            <li>
                <a class='overflow' href='{{ post.url }}'>
                    <time>{{ post.date | date: '%F' }}</time>
                    <span>{{ post.title }}</span>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
