---
layout: categories
title: '分类'
icon: icon-changjingguanli
priority: 2
type: page
permalink: /categories
---
<div id='card_categories'>
    <ul>
        {% for category in site.categories %}
            <li class='card'>
                <span class='title'>{{ category[0] }}</span>
                <div class='content'>
                    <ul>
                        {% for post in category[1] %}
                            <li>
                                <a class='overflow' href='{{ post.url }}'>
                                    <time>{{ post.date | date: '%F' }}</time>
                                    <span>{{ post.title }}</span>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

