---
layout: default
---
<div id='body'>
    {% include header.html %}
    <div id='site_body'>
        {% assign data = site.data.about %}
        <div id='about_me'>
            <div class='basic_info'>
                <div class='image'>
                    <img src='{{ data.me_image.src }}' alt='{{ data.me_image.alt }}'>
                </div>
                <div class='detail_info'>
                    <span class='name'>{{ data.detail_info.name }}</span>
                    <span class='introduction'>{{ data.detail_info.introduction }}</span>
                    <ul class='sub_info'>
                        {% for info in data.detail_info.sub_info %}
                            <li>
                                {% if info.icon %}
                                    <span class='iconfont {{ info.icon }}'></span>
                                {% endif %}
                                {% if info.name %}
                                    {{ info.name }}
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class='content'>
                {% for item in data.content %}
                    <div class='title'>
                        <span class='iconfont {{ item.icon }}'></span><strong>{{ item.name }}</strong>
                    </div>
                    {% if item.tr %}
                        <table class='table'>
                            {% for td in item.tr %}
                                <tr class='school'>
                                    <td>{{ td.date }}</td>
                                    <td>{{ td.organization }}</td>
                                    <td>{{ td.job }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                    {% if item.list %}
                        <ul class='list'>
                            {% for li in item.list %}
                                <li>{{ li }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include footer.html %}
</div>

